@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600italic,400italic,100,100italic,300,300italic,600,700,700italic|Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900);

.row
{
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 65rem;
  width: 100%;
}

.contain-to-grid .top-bar{
  margin-top: 0px;
  margin-right: none;
  margin-bottom: 0px;
  margin-left: none;
  max-width: 65rem;
}

.contain-to-grid
{
  width: 100%;
  background-color: rgba(0,0,0,0);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

body {
    background: url("/assets/img/Temperate_forest_desat.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100% !important;
    height: 100% !important;
}

h1,h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 25px;
}

h2 {
  padding-top: 25px;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  padding-top: 20px;
  font-size:21px;
  font-weight:bold;"
}

h4,h5,h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin-bottom: 18px;
}

p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 14px;
  margin-top:20px;
  margin-bottom: 20px;
}

ul {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-align: justify;
  font-size: 16px;
}

.panel {
  max-width: 65em;
  margin: 0 auto;
  border: none;
  background-color: rgba(255, 255, 255);
}

img {
  margin-top:20px;
}


footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 13px;
  min-height: 200px;
  color: rgb(255, 255, 255);
  margin: auto;
  max-width: 65rem;
  background-color:#222222;
}

.circular {
	height: 150px;
  width: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	}

  .valign-middle {
    display: table;
}

.valign-middle .columns {
    display: table-cell;
    vertical-align: middle;
}

.valign-middle .columns,
.valign-middle [class*="column"] + [class*="column"]:last-child {
    float: none;
}

/* Line 3305 */
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover
{
  background-color: #d0d0d0;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a
{
  background-color: #E0E0E0;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active
{
  background-color: #e0e0e0;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  display: block;
}

.accordion .accordion-navigation > a, .accordion dd > a
{
  background-color: #e0e0e0;
  background-image: none;
  background-repeat: repeat;
  font-family: 'Raleway', sans-serif;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  display: block;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom:5px;
}

/* Line 2092 */
.top-bar-section li:not(.has-form) a:not(.button)
{
  background-color: #222222;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  line-height: 2.8125rem;
  padding-top: 0px;
  padding-right: 0.9375rem;
  padding-bottom: 0px;
  padding-left: 0.9375rem;
}


/* Line 1963 */
.top-bar-section ul li.active > a:hover
{
  background-color: #222222;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  color: #ffffff;
}

/* Line 2096 */
.top-bar-section li:not(.has-form) a:hover:not(.button)
{
  background-color: #222222;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
}

/* Line 2099 */
.top-bar-section li.active:not(.has-form) a:not(.button)
{
  background-color: rgb(224, 188, 0);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  color: #222222;
  line-height: 2.8125rem;
  padding-top: 0px;
  padding-right: 0.9375rem;
  padding-bottom: 0px;
  padding-left: 0.9375rem;
}

.top-bar {
    background: #222222;
    height: 2.8125rem;
    line-height: 2.8125rem;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}

/* Line 2104 */
.top-bar-section li.active:not(.has-form) a:hover:not(.button)
{
  background-color: rgb(224, 188, 0);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  color: #ffffff;
}

/* Line 3470 */
a
{
  color: rgb(53, 53, 53);
}

/* Line 3474 */
a:hover, a:focus
{
  color: rgb(210, 139, 0);
}
