
<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      {% assign pages = site.pages | sort:"weight"  %}
      {% for node in pages %}
        {% if page.url == node.url %}
          <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
        {% else %}
          <li><a href="{{node.url}}">{{node.title}}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  </section>
</nav>
</div>
