<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{% if page.title %} IELab - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta name="author" content="IELab">
  <meta name="keywords" content="{% if page.tags %}{{ page.tags | join: ', ' | escape }}{% else %}{{ site.keys | join: ', ' | escape }}{% endif %}">
  
  <link rel="stylesheet" href="/css/foundation.css"/>
  <link rel="stylesheet" href="/css/foundation-icons.css" />
  <!-- This is how you would link your custom stylesheet -->
  <link rel="stylesheet" href="/css/app.css"/>


  <script src="/js/vendor/modernizr.js"></script>

</head>
