<div class="row" style="margin-bottom:-15px;">
    <div class="large-12 columns">
        <h2>Current members</h2>
    </div>
</div>
<div class="row">
    <div class="large-12 columns">

        <style type="text/css">
            #labgraph {
                width: 100%;
                height: 700px;
                background-color: none;
                border-radius: 25px;
            }
        </style>

        <script type="text/javascript" src="/js/vis.js"></script>
        <script type="text/javascript" src="/js/js-yaml.min.js"></script>
        <link href="/css/vis.min.css" rel="stylesheet" type="text/css" />

        <script type="text/javascript">
            var nodes = null;
            var edges = null;
            var network = null;

            // Called when the Visualization API is loaded.
            function draw() {
                // create people.
                // value corresponds with the age of the person
                var DIR = '/assets/img/members/';
                nodes = [{
                    id: 1,
                    shape: 'circularImage',
                    image: DIR + 'DominiqueGravel.jpg',
                    label: "Dominique Gravel"
                }, {
                    id: 2,
                    shape: 'circularImage',
                    image: DIR + 'jo.png',
                    label: "Jonathan Brassard"
                }, {
                    id: 40,
                    shape: 'circularImage',
                    image: DIR + 'Kim.jpg',
                    label: "Kim Gauthier Schampaert"
                }, {
                    id: 100,
                    shape: 'box',
                    font: {
                        color: '#fff'
                    },
                    label: "Ecological Networks"
                }, {
                    id: 101,
                    shape: 'box',
                    font: {
                        color: '#fff'
                    },
                    label: "Biogeography"
                }, {
                    id: 102,
                    shape: 'box',
                    font: {
                        color: '#fff'
                    },
                    label: "Forest Ecology"
                }, {
                    id: 103,
                    shape: 'box',
                    font: {
                        color: '#fff'
                    },
                    label: "Biodiversity Change"
                }, {
                    id: 104,
                    shape: 'box',
                    font: {
                        color: '#fff'
                    },
                    label: "Coordination"
                }, {
                    id: 16,
                    shape: 'circularImage',
                    image: DIR + 'az.jpg',
                    label: "Azenor Bideault"
                }, {
                    id: 24,
                    shape: 'circularImage',
                    image: DIR + 'willian.jpg',
                    label: "Willian Vieira"
                }, {
                    id: 26,
                    shape: 'circularImage',
                    image: DIR + 'madelaine.jpg',
                    label: "Madelaine Proulx"
                }, {
                    id: 29,
                    shape: 'circularImage',
                    image: DIR + 'kath.jpg',
                    label: "Katherine Hébert"
                }, {
                    id: 39,
                    shape: 'circularImage',
                    image: DIR + 'Gab_byMathildePoirier.png',
                    label: "Gabriel Bergeron"
                }, {
                    id: 38,
                    shape: 'circularImage',
                    image: DIR + 'VictorCameron.jpg',
                    label: "Victor Cameron"
                }, {
                    id: 43,
                    shape: 'circularImage',
                    image: DIR + 'BenjaminMercier.png',
                    label: "Benjamin Mercier"
                }, {
                    id: 42,
                    shape: 'circularImage',
                    image: DIR + 'VincentBellavance.jpeg',
                    label: "Vincent Bellavance"
                }, {
                    id: 41,
                    shape: 'circularImage',
                    image: DIR + 'VarinaCrisfield.jpg',
                    label: "Varina Crisfield"
                }, {
                    id: 44,
                    shape: 'circularImage',
                    image: DIR + 'ClaraCasabon.jpg',
                    label: "Clara Casabona i Amat"
                }, {
                    id: 45,
                    shape: 'circularImage',
                    image: DIR + 'AlexFuster.jpg',
                    label: "Alexandre Fuster Calvo"
                },];

                // create connections between people
                // value corresponds with the amount of contact between two people
                edges = [{
                    from: 1,
                    to: 100
                }, {
                    from: 1,
                    to: 101
                }, {
                    from: 1,
                    to: 102
                }, {
                    from: 1,
                    to: 103
                }, {
                    from: 1,
                    to: 104
                }, {
                    from: 2,
                    to: 102
                }, {
                    from: 40,
                    to: 101
                }, {
                    from: 40,
                    to: 104
                }, {
                    from: 26,
                    to: 100
                }, {
                    from: 16,
                    to: 100
                }, {
                    from: 45,
                    to: 100
                }, {
                    from: 43,
                    to: 100
                }, {
                    from: 39,
                    to: 100
                }, {
                    from: 29,
                    to: 100
                }, {
                    from: 26,
                    to: 101
                }, {
                    from: 45,
                    to: 101
                }, {
                    from: 41,
                    to: 101
                }, {
                    from: 24,
                    to: 101
                }, {
                    from: 38,
                    to: 101
                }, {
                    from: 42,
                    to: 101
                }, {
                    from: 44,
                    to: 101
                }, {
                    from: 24,
                    to: 102
                }, {
                    from: 38,
                    to: 102
                }, {
                    from: 29,
                    to: 103
                }, {
                    from: 42,
                    to: 103
                }, {
                    from: 44,
                    to: 103
                }, {
                    from: 2,
                    to: 104
                },];

                // edges = [
                //   {from: 1, to: 2},
                //   {from: 1, to: 3},
                //   {from: 1, to: 4},
                //   {from: 1, to: 5},
                //   {from: 1, to: 6},
                //   {from: 1, to: 7},
                //   {from: 1, to: 8}
                // ];

                // create a network
                var container = document.getElementById('labgraph');
                var data = {
                    nodes: nodes,
                    edges: edges
                };
                var options = {
                    height: '100%',
                    width: '100%',
                    interaction: {
                        dragNodes: true,
                        dragView: false,
                        hideEdgesOnDrag: false,
                        hideNodesOnDrag: false,
                        hover: true,
                        hoverConnectedEdges: true,
                        zoomView: false,
                    },
                    nodes: {
                        borderWidth: 4,
                        size: 35,
                        shadow: true,
                        font: {
                            size: 15,
                            color: 'dark',
                            face: 'Public Sans',
                        },
                        color: {
                            border: '#222222',
                            background: '#222222',
                            highlight: {
                                border: '#222222',
                                background: '#222222',
                            },
                            hover: {
                                border: '#727171',
                                background: '#727171'
                            },
                        },
                    },
                    edges: {
                        color: '#616161',
                        width: 1,
                        dashes: true,
                    },
                    physics: {
                        barnesHut: {
                            avoidOverlap: 0.2
                        },
                    },
                    layout: {
                        randomSeed: 14,
                    }
                };


                network = new vis.Network(container, data, options);
            }
        </script>

        <div id="labgraph"></div>

    </div>
</div>