<!DOCTYPE html>
<html>

{% include head.html %}

<body onload="draw()">

    {% include header.html %}

    <div class="row" style="  background-color: rgba(50, 50, 50, 0.50);padding-top:0px;padding-bottom:15px;" >
      <div class="large-2 columns text-center">
        <img src="/assets/img/logo.png" alt="Logo" style="width:65%; height:65%;padding-top:0px;" />
      </div>
      <div class="large-7 columns text-left">
        <h2 style="font-size:25px;color:rgb(255, 255, 255);font-weight: 700;color:rgb(232, 188, 0)"><span style="font-family: 'Fira Sans', sans-serif;font-weight: 300;font-size:30px">[IE]</span> Integrative Ecology Lab</h2>
        <h2 style="font-family: 'Fira Sans', sans-serif;font-weight: 500;font-size:18px;color:rgb(255, 255, 255);padding-top:0px;margin-top:-10px;"> Laboratoire d'écologie intégrative </h2>
      </div>
      <div class="large-3 columns text-right">
      <a href="https://www.usherbrooke.ca/"> <img src="/assets/img/UdeS_nouveau_blanc72dpi.png" alt="Logo" style="width:65%; height:90%;margin-top:90px;" /></a>
      </div>
    </div>

<div class="panel">

  <div class="row">
    <div class="large-12 columns">
{{ content }}
</div>
</div>

  </div>
    {% include footer.html %}
  </body>

  </html>
